* {
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 200px;
    border: 2px solid transparent;
}

.box img {
    width: 100%;
    height: 100%;
}

.box:hover img {
    opacity: 0;
}

.box:hover {
    border: 2px solid black;
}
